/* Clases reutilizables */
body {
  /* background-color: rgb(14, 11, 11); */
  font-family: 'Raleway', sans-serif;
  background-image: url('../assets/images/fondo7.gif');
  /* background-size: cover;
  height: 100vh */
  /* background-repeat: no-repeat; */
}

header {
  background-color: transparent;
  text-shadow: 2px 3px 3px rgb(31, 30, 30);
  background-image: url('../assets/images/fondo1.jpg');
  height: 200px;
  letter-spacing: 2px;
  color: #f9fcfd;
  
}

header h1{
  font-size: 100px;
}
footer {
  background-color: #F4D164!important;
  font-size: 18px;
}

/* Clases específicas */
.character-name {
  color: #fdffff;
  letter-spacing: 1.5px;
  font-size: 20px;
  text-shadow: 2px 3px 3px rgb(88, 97, 99);
}

.container-img{
  padding: 15px 0;
}

img{
  margin-left: 60px;
  width: 100px;
  height:75px; 
  background-color: white;
  border-radius:5px;
  border: 3px solid  #F4D164!important;
}

a img:hover {
  cursor: pointer;
  opacity: 0.6;
  border: 3px solid rgb(56, 34, 248)!important;
}

.btn-color {
  background-color: #F4D164!important;
  border-color:#F4D164!important;
  outline: none;
  color: aliceblue;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #F4D164!important;
  border-color:#F4D164!important;
  outline: none;
}

 .modal-header {
   border-bottom: 1px solid #F4D164!important;
   /* border-bottom: 1px solid #E77F99!important; */
 }

 .modal-footer {
   border-top: 1px solid #F4D164!important;
   /* border-top: 1px solid #FE77F99!important; */
 }

.modal-content {
  color: aliceblue;
  background-image: url('../assets/images/fondo8.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.modal-subtitles {
  font-weight: bold;
  font-size: 20px;
  letter-spacing: 1.5px;
  color:  rgb(248, 248, 247)!important;
}

.modal-subtitles span{
  color: #F4D164!important;
}

.modal-subtitles span {
  font-weight: normal;
  font-size: 16px;
}
